{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    {% include "_CSSreferences.html" %}
</head>

<body class='d-flex flex-column vh-100'>
    <script src={% static 'assets/static/js/initTheme.js' %}></script>

    <div id="app">
        {% include "_sideNavigation.html" %}
        <div id="main">
            <!--Header-->
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <h3>Logbook</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end align-items-center">
                    <!-- Icon with notification dot -->
                    <div class="position-relative me-3">
                        <i class="bi bi-backpack" style="font-size: 1.5rem;"></i>
                        <span
                            class="notification-dot position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--Main Page-->
            <div class="page-content">
                <!--Start Your Page Here-->
                <div class="table-responsive">
                    <!-- Modal for edit profile will be used here but with some changes -->
                    <!-- Buttons for each input field will be disabled and also the input fields -->
                    <!-- Reset Password will be remove and save buttons and cancel will be replaced as close -->
                    <table class="table table-striped" id="logs">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Id Number</th>
                                <th>Email</th>
                                <th>Time In</th>
                                <th>Time Out</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            {% include "AccountManagementPage/_account-edit.html" %}
            {% include "_footer.html" %}
        </div>
    </div>
    {% include "_JSreferences.html" %}
</body>

</html>


<script>
    $(document).ready(function () {
        $('#logs').DataTable({
            dom: '<"row mb-3"<"col-12 col-md-4"l><"col-12 col-md-4 text-center"B><"col-12 col-md-4 d-flex justify-content-end"f>>' +
                'rt' +
                '<"row mt-3"<"col-12 col-md-6"i><"col-12 col-md-6 d-flex justify-content-end"p>>',
            buttons: ['copy', 'excel', 'pdf'],
            responsive: false,
            scrollX: true,
            ajax: {
                url: "{% url 'get-log' %}",
                type: 'GET',
                success: function (data) {
                    if (Array.isArray(data) && data.length > 0) {
                        $('#logs').DataTable().clear().rows.add(data).draw();
                    } else {
                        // Handle empty or malformed data
                        alert('No log data available.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error loading log data: " + error);
                }
            },
            columns: [
                { data: 'user' },
                { data: 'id_number', className: 'text-start' },
                { data: 'email', className: 'text-start' },
                { data: 'time_in' },
                { data: 'time_out', className: 'text-start' }
            ]
        });
    });

</script>