{% load static %}
<!--Javascript-->
<script src="{% static 'assets/static/js/components/dark.js' %}"></script>
<script src="{% static 'assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/compiled/js/app.js' %}"></script>
<script src="{% static 'assets/extensions/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/active-nav.js' %}"></script>
<script src="{% static 'assets/extensions/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/compiled/js/datatables.js' %}"></script>
<script src="{% static 'assets/extensions/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js' %}"></script>
<script src="{% static 'assets/extensions/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js' %}"></script>
<script src="{% static 'assets/extensions/filepond-plugin-image-crop/filepond-plugin-image-crop.min.js' %}"></script>
<script src="{% static 'assets/extensions/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js' %}"></script>
<script src="{% static 'assets/extensions/filepond-plugin-image-filter/filepond-plugin-image-filter.min.js' %}"></script>
<script src="{% static 'assets/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js' %}"></script>
<script src="{% static 'assets/extensions/filepond-plugin-image-resize/filepond-plugin-image-resize.min.js' %}"></script>
<script src="{% static 'assets/extensions/filepond/filepond.js' %}"></script>
<script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/extensions/dayjs/dayjs.min.js' %}"></script>
<script src="{% static 'assets/extensions/sweetalert2/sweetalert2.min.js'%}"></script>
<script src="{% static 'assets/extensions/toastify-js/src/toastify.js'%}"></script>
<script src="{% static 'assets/extensions/choices.js/public/assets/scripts/choices.js'%}"></script>
<script src="{% static 'assets/extensions/moment/moment.js'%}"></script>
<script src="{% static 'assets/extensions/daterangepicker/daterangepicker.js'%}"></script>
<script src="{% static 'assets/extensions/flatpickr/flatpickr.js'%}"></script>

<!-- <script src="{% static 'assets/static/js/pages/dashboard.js' %}"></script> -->

