{% load static %}
<div class="modal fade" id="account-edit-modal" tabindex="-1" role="dialog" aria-labelledby="book-info"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="book-info">Account Edit </p>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                        <form action="POST" id="account-edit-form">
                            <!--First Name Field-->
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="First Name"
                                    aria-label="Example text with button addon" aria-describedby="button-addon1"
                                    id="fname-input">
                                <button class="btn btn-primary" type="button" id="button-addon1"><span
                                        class="bi bi-pen"></span></button>
                            </div>

                            <!--Last Name Field-->
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="Last Name"
                                    aria-label="Example text with button addon" aria-describedby="button-addon1"
                                    id="lname-input">
                                <button class="btn btn-primary" type="button" id="button-addon1"><span
                                        class="bi bi-pen"></span></button>
                            </div>

                            <!--Student ID # Field-->
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="Student ID #"
                                    aria-label="Example text with button addon" aria-describedby="button-addon1"
                                    id="studentID-input">
                                <button class="btn btn-primary" type="button" id="button-addon1"><span
                                        class="bi bi-pen"></span></button>
                            </div>

                            <!--Contact Number Field-->
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" placeholder="Contact Number"
                                    aria-label="Example text with button addon" aria-describedby="button-addon1"
                                    id="cnum-input">
                                <button class="btn btn-primary" type="button" id="button-addon1"><span
                                        class="bi bi-pen"></span></button>
                            </div>

                            <!--Email Field-->
                            <div class="input-group input-group-sm mb-3">
                                <input type="email" class="form-control" placeholder="Email"
                                    aria-label="Example text with button addon" aria-describedby="button-addon1"
                                    id="email-input">
                                <button class="btn btn-primary" type="button" id="button-addon1" disabled><span
                                        class="bi bi-pen"></span></button>
                            </div>

                            <!--Status Field-->
                            <div class="input-group input-group-sm mb-3">
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <button class="btn btn-primary" type="button" id="button-addon1" disabled><span
                                        class="bi bi-pen"></span></button>
                            </div>
                        </form>
                        <button class="btn btn-sm btn-outline-danger w-100">Reset Password</button>
                    </div>
                    <div
                        class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-flex flex-column align-items-center text-center">
                        <img src="{% static 'assets/static/images/faces/2.jpg' %}" class="rounded-circle mb-3"
                            alt="User Profile Picture" style="width: 150px; height: 150px;">
                        <span class="badge bg-success">Active</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal" id="save-button">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Save</span>
                </button>
            </div>
        </div>
    </div>
</div>