{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    {% include "_CSSreferences.html" %}
</head>

<body class='d-flex flex-column vh-100'>
    <script src={% static 'assets/static/js/initTheme.js' %}></script>

    <div id="app">
        {% include "_sideNavigation.html" %}
        <div id="main">
            <!--Header-->
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <h3>Bag</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end align-items-center">
                    <!-- Icon with notification dot -->
                    <div class="position-relative me-3">
                        <i class="bi bi-backpack" style="font-size: 1.5rem;"></i>
                        <span
                            class="notification-dot position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--Main Page-->
            <div class="page-content">
                <!--Start Your Page Here-->
                <div class="table-responsive">
                    <!-- Modal for more info of books will be reused with some changes -->
                    <!-- Buttons like add to bag will be remove -->
                    <table class="table table-striped" id="reserved-books">
                        <thead>
                            <tr>
                                <th>Book Title</th>
                                <th>Reservation Date</th>
                                <th>Return Date</th>
                                <th>Borrow Duration</th>
                                <th>Late Fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="javascript: void(0)" data-bs-toggle="modal" data-bs-target="#book-info-modal">Book 1</a></td>
                                <td>08-14-2024 01:15</td>
                                <td>08-19-2024 01:15</td>
                                <td>5 days</td>
                                <td>P 50.00</td>
                            </tr>
                            <tr>
                                <td><a href="javascript: void(0)" data-bs-toggle="modal" data-bs-target="#book-info-modal">Book 2</a></td>
                                <td>08-14-2024 01:15</td>
                                <td>08-19-2024 01:15</td>
                                <td>5 days</td>
                                <td>P 50.00</td>
                            </tr>
                            <tr>
                                <td><a href="javascript: void(0)" data-bs-toggle="modal" data-bs-target="#book-info-modal">Book 3</a></td>
                                <td>08-14-2024 01:15</td>
                                <td>08-19-2024 01:15</td>
                                <td>5 days</td>
                                <td>P 50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% include "BookCollectionPage/_more-info-books.html" %}
            {% include "_footer.html" %}
        </div>
    </div>
    {% include "_JSreferences.html" %}
</body>

</html>


<script>
    $(document).ready(function () {
        $('#reserved-books').DataTable({
            dom: '<"row mb-3"<"col-12 col-md-4"l><"col-12 col-md-4 text-center"B><"col-12 col-md-4 d-flex justify-content-end"f>>' +
                 'rt' +
                 '<"row mt-3"<"col-12 col-md-6"i><"col-12 col-md-6 d-flex justify-content-end"p>>',
            buttons: ['copy', 'excel', 'pdf'],
            responsive: false,
            scrollX: true
        });
    });
</script>


