{% load static %}
<div class="modal fade" id="account-edit-modal" tabindex="-1" role="dialog" aria-labelledby="account-info" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="book-info">Account Edit </p>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="accountEditForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">

                            <!-- account ID -->
                             <input type="text" id="account_id" name="account_id" hidden>
                            
                            <div class="col-12 mb-3">
                                <label for="profile_picture" class="form-label">Profile Picture</label>
                                <input type="file" class="image-resize-filepond form-control" id="profile_picture"
                                    placeholder="Upload Image" name="profile_picture" required>
                            </div>
                            
                            <!-- fields for first name and last name -->
                            <div class="col-12 mb-3">
                                <label for="first_name" class="form-label">First Name</label>
                                <input type="text" class="form-control form-control-l" placeholder="First Name" name="first_name" id="first_name" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="last_name" class="form-label">Last Name</label>
                                <input type="text" class="form-control form-control-l" placeholder="Last Name" name="last_name" id="last_name" required>
                            </div>

                            <!-- ID Number and Contact Number -->
                            
                            <div class="col-12 mb-3">
                                <label for="contact_number" class="form-label">Contact Number</label>
                                <input type="text" class="form-control form-control-l" placeholder="Contact Number" name="contact_number" id="contact_number" required>
                            </div>

                            <div class="col-6 mb-3">
                                <label for="id_number" class="form-label">ID number</label>
                                <input type="text" class="form-control form-control-l" placeholder="Id Number" name="id_number" id="id_number"  maxlength="11" required>
                            </div>

                            <div class="col-6 mb-3">
                                <label for="position" class="form-label">Position</label>
                                <select class="form-select" id="position" required name="position">
                                    <option value="0">Student/Teacher</option>
                                    <option value="1">Admin</option>
                                </select>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control form-control-l" placeholder="Email" name="email" id="email" required>
                            </div>

                            <div class="col-12 mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control form-control-l" placeholder="New Password" name="password" id="password" required>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal" id="save-button">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Save</span>
                </button>
            </div>
        </div>
    </div>
</div>