{% load static %}
<div class="modal fade" id="account-edit-modal" tabindex="-1" role="dialog" aria-labelledby="account-info" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header my--3">
                <h5 class="modal-title" id="account-edit">Account Edit
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="accountEditForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                                <input type="number" id="accountID" name="accountID" hidden>
                                
                                <!-- First Name -->
                                <div class="mb-3">
                                    <label for="firstName" class="form-label mb-1">First Name:</label>
                                    <input type="text" class="form-control" id="firstName"
                                        placeholder="Enter first name" name="firstName" required>
                                </div>

                                <!-- Last Name -->
                                <div class="mb-3">
                                    <label for="lastName" class="form-label mb-1">Last Name:</label>
                                    <input type="text" class="form-control" id="lastName"
                                        placeholder="Enter first name" name="lastName" required>
                                </div>

                                <!-- Student ID -->
                                <div class="mb-3">
                                    <label for="studentID" class="form-label mb-1">Student ID:</label>
                                    <input type="text" class="form-control" id="studentID"
                                        placeholder="Enter first name" name="studentID" required>
                                </div>

                                <!-- Contact Number -->
                                <div class="mb-3">
                                    <label for="contactNumber" class="form-label mb-1">Contact Number:</label>
                                    <input type="number" class="form-control" id="contactNumber" placeholder="Enter the contact number"
                                        name="contactNumber" required>
                                </div>
                                
                                <!-- Email -->
                                <div class="mb-3">
                                    <label for="email" class="form-label mb-1">Email:</label>
                                    <input type="text" class="form-control" id="email"
                                        placeholder="Enter first name" name="email" required>
                                </div>

                                <!-- Status -->
                                <div class="mb-3">
                                    <label for="inputGroupSelect01" class="form-label mb-1">Role:</label>
                                    <select class="form-select" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        <option value="1">Admin</option>
                                        <option value="2">Student</option>
                                    </select>
                                </div>

                                <!-- Password Reset -->
                                <button type="button" class="btn btn-sm btn-outline-danger w-100" id="resetBTN">Reset Password</button>


                            </div>
                            
                            <!-- Profile Picture-->
                            <div  class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 d-flex flex-column align-items-center text-center">
                                <input type="file" class="image-resize-filepond form-control" style="width: 150px; height: 200px;" id="imageUpload"
                                    name="accountPic"  required>
                                <span class="badge bg-success">Active</span>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal" id="submitBTN">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Save</span>
                </button>
            </div>
        </div>
    </div>
</div>