{% load static %}
<div class="modal fade" id="account-edit-modal" tabindex="-1" role="dialog" aria-labelledby="account-info" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
        role="document">
        <div class="modal-content">
            <div class="modal-header my--3">
                <h5 class="modal-title" id="account-edit">Account Edit
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="accountEditForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Profile Picture-->
                            <input type="number" id="accountID" name="accountID" hidden>
                            <div class="mb-4 text-center">
                                <label for="imageUpload" class="form-label">Edit Image</label>
                                <input type="file" class="image-resize-filepond form-control" id="imageUpload"
                                    placeholder="Upload Image" name="accountPic" required>
                                <span class="badge bg-success">Active</span>
                            </div>

                            <!-- First Name and Last Name -->
                            <div class="col-md-6 mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstName"
                                    placeholder="Enter first name" name="firstName" required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName"
                                    placeholder="Enter first name" name="lastName" required>
                            </div>

                            <!-- Student ID and Contact Number -->
                            <div class="col-md-6 mb-3">
                                <label for="studentID" class="form-label">Student ID</label>
                                <input type="text" class="form-control" id="studentID"
                                    placeholder="Enter first name" name="studentID" required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="contactNumber" class="form-label">Contact Number</label>
                                <input type="number" class="form-control" id="contactNumber" placeholder="Enter the contact number"
                                    name="contactNumber" required>
                            </div>
                            
                            <!-- Email -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email"
                                    placeholder="Enter first name" name="email" required>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal" id="submitBTN">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Save</span>
                </button>
            </div>
        </div>
    </div>
</div>