{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    {% include "_CSSreferences.html" %}
</head>

<body class='d-flex flex-column vh-100'>
    <script src={% static 'assets/static/js/initTheme.js' %}></script>

    <div id="app">
        {% include "_sideNavigation.html" %}
        <div id="main">
            <!--Header-->
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <h3>Account Management</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end align-items-center">
                    <!-- Icon with notification dot -->
                    <div class="position-relative me-3">
                        <i class="bi bi-backpack" style="font-size: 1.5rem;"></i>
                        <span
                            class="notification-dot position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--Main Page-->
            <div class="page-content">
                <!--Start Your Page Here-->
                <div class="table-responsive">
                    <!-- Modal for edit profile will be used here but with some changes -->
                    <!-- Buttons for each input field will be disabled and also the input fields -->
                    <!-- Reset Password will be remove and save buttons and cancel will be replaced as close -->
                    <table class="table table-striped" id="accountManagement">
                        <thead>
                            <tr>
                                <th class="text-start">First Name</th>
                                <th class="text-start">Last Name</th>
                                <th class="text-start">Student ID#</th>
                                <th class="text-start">Contact #</th>
                                <th class="text-start">Email</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
            {% include "AccountManagementPage/_account-edit.html" %}
            {% include "_footer.html" %}
        </div>
    </div>
    {% include "_JSreferences.html" %}
</body>

</html>


<script>

    let categoriesFetched = false;
    let selectedCategories;

    $(document).ready(function () {
        $('#accountManagement').DataTable({
            dom: '<"row mb-3"<"col-12 col-md-4"l><"col-12 col-md-4 text-center"B><"col-12 col-md-4 d-flex justify-content-end"f>>' +
                'rt' +
                '<"row mt-3"<"col-12 col-md-6"i><"col-12 col-md-6 d-flex justify-content-end"p>>',
            buttons: ['copy', 'excel', 'pdf'],
            responsive: false,
            scrollX: true,
            ajax: {
                url: "{% url 'get-accounts' %}",
                type: 'GET',
                dataSrc: 'accounts'
            },
            columns: [
                { data: 'first_name' },
                { data: 'last_name' },
                { data: 'id_number', className: 'text-start' },
                { data: 'cellphone_number', className: 'text-start' },
                { data: 'email' },
                {
                    data: 'id',
                    render: function (data, type, row) {
                        return `<button class="btn btn-outline-warning btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#account-edit-modal" data-id="${data}" id="Edit">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn btn-outline-danger btn-sm" data-id="${data}" id='removeBook'>
                                            <i class="bi bi-trash"></i>
                                        </button>`;
                    }, className: 'text-center'
                }
            ]

        });

        $.ajax({
            url: "{% url 'get-accounts' %}",
            type: 'GET',
            success: function (response) {
                const accounts = response.accounts;
            },
            error: function (xhr, status, error) {
                alert("An error occurred: " + error);
            }
        });

        // Register FilePond plugins
        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginImageCrop,
            FilePondPluginImageExifOrientation,
            FilePondPluginImageFilter,
            FilePondPluginImageResize,
            FilePondPluginFileValidateSize,
            FilePondPluginFileValidateType
        );

        // Initialize FilePond
        const pond = FilePond.create(document.querySelector(".image-resize-filepond"), {
            credits: null,
            allowImagePreview: true,
            allowImageFilter: false,
            allowImageExifOrientation: false,
            allowImageCrop: false,
            allowImageResize: true,
            imageResizeTargetWidth: 200,
            imageResizeTargetHeight: 200,
            imageResizeMode: "cover",
            imageResizeUpscale: true,
            acceptedFileTypes: ["image/png", "image/jpg", "image/jpeg"],
            fileValidateTypeDetectType: (source, type) =>
                new Promise((resolve, reject) => {
                    // Do custom type detection here and return with promise
                    resolve(type);
                }),
            storeAsFile: true
        });


        // Clear button functionality
        $('#clearBtn').click(function () {
            // Clear all text inputs
            $('input[type="text"], input[type="number"], input[type="file"]').val('');

            // Clear all textareas
            $('textarea').val('');

            // Reset all select elements
            $('select').prop('selectedIndex', 0);

            pond.removeFiles(); // Clears all uploaded and pending files
        });

        $(document).on('click', '#Edit', function () {
            var dataId = $(this).data('id');

            // First AJAX request to get the book details
            $.ajax({
                url: '/get-account-info/',  // Adjust this URL if needed
                type: 'GET',
                data: {
                    'id': dataId
                },
                success: function (response) {
                    pond.addFile(response.image_url).then(file => {
                        console.log('File has been loaded', file);
                    }).catch(error => {
                        console.error('Error loading file:', error);
                    });

                    $('#accountID').val(response.account_id)
                    $('#firstName').val(response.first_name);
                    $('#lastName').val(response.last_name);
                    $('#studentID').val(response.id_number);
                    $('#contactNumber').val(response.cellphone_number);
                    $('#email').val(response.email);

                    // Open the modal after the form is populated
                    $('#account-edit-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching account info:', error);
                }
            });
        });

        $('#submitBTN').click(function () {
            $('#accountEditForm').submit();
        });

        $('#accountEditForm').submit(function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: "{% url 'update-account' %}",
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.isSuccess == 'true') {
                        Swal.fire({
                            icon: "success",
                            title: "Account updated successfully",
                        })

                        $('#accountEditForm').find('input[type="text"], input[type="number"], input[type="file"]').val('');
                        $('#accountEditForm').find('textarea').val('');
                        $('#accountEditForm').find('select').prop('selectedIndex', 0);
                        categoriesChoice.removeActiveItems();

                        pond.removeFiles();

                    } else {
                        Toastify({
                            text: response.message,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            style: {
                                background: "#dc3545",
                            },
                            stopOnFocus: true,
                        }).showToast();
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        });

        

    });
</script>