{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    {% include "_CSSreferences.html" %}
</head>

<body class='d-flex flex-column vh-100'>
    <script src={% static "assets/static/js/initTheme.js" %}></script>
    <div id="app">
        {% include "_sideNavigation.html" %}
        <div id="main">
            <!--Header-->
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <h3>Account Management</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end align-items-center">
                    <!-- Icon with notification dot -->
                    <div class="position-relative me-3">
                        <i class="bi bi-backpack" style="font-size: 1.5rem;"></i>
                        <span
                            class="notification-dot position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--Main Page-->
            <div class="page-content">
                <!--Start Your Page Here-->
                <div class="table-responsive">
                    <!-- Modal for edit profile will be used here but with some changes -->
                    <!-- Buttons for each input field will be disabled and also the input fields -->
                    <!-- Reset Password will be remove and save buttons and cancel will be replaced as close -->
                    <table class="table table-striped" id="accountManagement">
                        <thead>
                            <tr>
                                <th class="text-start">First Name</th>
                                <th class="text-start">Last Name</th>
                                <th class="text-start">Student ID #</th>
                                <th class="text-start">Contact #</th>
                                <th class="text-start">Email</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
            {% include "AccountManagementPage/_account-edit.html" %}
            {% include "_footer.html" %}
        </div>
    </div>
    {% include "_JSreferences.html" %}
</body>

</html>

<script>
    $(document).ready(function () {
        $('#accountManagement').DataTable({
            dom: '<"row mb-3"<"col-12 col-md-4"l><"col-12 col-md-4 text-center"B><"col-12 col-md-4 d-flex justify-content-end"f>>' +
                'rt' +
                '<"row mt-3"<"col-12 col-md-6"i><"col-12 col-md-6 d-flex justify-content-end"p>>',
            buttons: ['copy', 'excel', 'pdf'],
            responsive: false,
            scrollX: true,
            ajax: {
                url: "{% url 'get-accounts' %}",
                type: 'GET',
                dataSrc: 'accounts'
            },
            columns: [
                { data: 'first_name' },
                { data: 'last_name' },
                { data: 'id_number', className: 'text-start' },
                { data: 'cellphone_number', className: 'text-start' },
                { data: 'email' },
                {
                    data: 'book_id',
                    render: function (data, type, row) {
                        return `<button class="btn btn-outline-warning btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#account-edit-modal" data-id="${data}">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" data-id="${data}">
                                        <i class="bi bi-trash"></i>
                                    </button>`;
                    }, className: 'text-center'
                }
            ]

        });
    });

</script>