{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    {% include "_CSSreferences.html" %}
</head>

<body class='d-flex flex-column vh-100'>
    <script src={% static 'assets/static/js/initTheme.js' %}></script>

    <div id="app">
        {% include "_sideNavigation.html" %}
        <div id="main">
            <!--Header-->
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <h3>Book Management</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end align-items-center">
                    <!-- Icon with notification dot -->
                    <div class="position-relative me-3">
                        <i class="bi bi-backpack" style="font-size: 1.5rem;"></i>
                        <span
                            class="notification-dot position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="bagContent">
                            
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--Main Page-->
            <div class="page-content">
                <!--Start Your Page Here-->
                <div class="table-responsive">
                    <!-- Modal for edit profile will be used here but with some changes -->
                    <!-- Buttons for each input field will be disabled and also the input fields -->
                    <!-- Reset Password will be remove and save buttons and cancel will be replaced as close -->
                    <table class="table table-striped" id="bookManagememt">
                        <thead>
                            <tr>
                                <th class="text-start">Title</th>
                                <th class="text-start">Publisher</th>
                                <th class="text-start">Year</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>

                </div>
            </div>
            {% include "BookCollectionPage/_more-info-books.html" %}
            {% include "BookManagementPage/_edit-books.html" %}
            {% include "BookManagementPage/_edit.html" %}
            {% include "_footer.html" %}
        </div>
    </div>
    {% include "_JSreferences.html" %}
</body>

</html>


<script>

    let categoriesFetched = false;
    let selectedCategories;
    let BookMasterID;

    let selectedStatus;

    $(document).ready(function () {
        UpdateBagNumber()

        $('#bookManagememt').DataTable({
            dom: '<"row mb-3"<"col-12 col-md-4"l><"col-12 col-md-4 text-center"B><"col-12 col-md-4 d-flex justify-content-end"f>>' +
                'rt' +
                '<"row mt-3"<"col-12 col-md-6"i><"col-12 col-md-6 d-flex justify-content-end"p>>',
            buttons: ['copy', 'excel', 'pdf'],
            responsive: false,
            scrollX: true,
            ajax: {
                url: "{% url 'get-books' %}",
                type: 'GET',
                data: function (d) {
                    d.caller = "Management";  // Add this line to pass the caller parameter
                },
                dataSrc: 'books'
            },
            columns: [
                { data: 'title' },
                { data: 'publisher' },
                { data: 'year', className: 'text-start' },
                {
                    data: 'book_master_id',
                    render: function (data, type, row) {
                        return `<button class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                                data-bs-target="#book-info-modal" data-id="${data}" id="MoreInfo">
                                <i class="bi bi-info-circle"></i>
                            </button>
                            <button class="btn btn-outline-warning btn-sm" data-bs-toggle="modal"
                                data-bs-target="#edit-modal" data-id="${data}" id="Edit">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-outline-danger btn-sm" data-id="${data}" id='removeBook'>
                                <i class="bi bi-trash"></i>
                            </button>`;
                    },
                    className: 'text-center'
                }
            ]
        });

        // Register FilePond plugins
        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginImageCrop,
            FilePondPluginImageExifOrientation,
            FilePondPluginImageFilter,
            FilePondPluginImageResize,
            FilePondPluginFileValidateSize,
            FilePondPluginFileValidateType
        );

        // Initialize FilePond
        const pond = FilePond.create(document.querySelector(".image-resize-filepond"), {
            credits: null,
            allowImagePreview: true,
            allowImageFilter: false,
            allowImageExifOrientation: false,
            allowImageCrop: false,
            allowImageResize: true,
            imageResizeTargetWidth: 200,
            imageResizeTargetHeight: 200,
            imageResizeMode: "cover",
            imageResizeUpscale: true,
            acceptedFileTypes: ["image/png", "image/jpg", "image/jpeg"],
            fileValidateTypeDetectType: (source, type) =>
                new Promise((resolve, reject) => {
                    // Do custom type detection here and return with promise
                    resolve(type);
                }),
            storeAsFile: true
        });

        // Add additional author input fields
        $('#addAuthorBtn').on('click', function () {
            const newAuthorField = `
                    <div class="input-group col-6 mb-2">
                        <input type="text" class="form-control" name="author[]" placeholder="Enter author name">
                        <button class="btn btn-outline-secondary remove-author-btn" type="button">-</button>
                    </div>
                `;
            $('#authorContainer').append(newAuthorField);

            // Remove author input field
            $('#authorContainer').on('click', '.remove-author-btn', function () {
                $(this).closest('.input-group').remove();
            });
        });

        // Initialize Choices.js for the categories select element
        const categoriesChoice = new Choices('#categories', {
            removeItemButton: true,
            delimiter: ',',
            maxItemCount: -1,
            searchEnabled: true,
            editItems: true,
        });

        categoriesChoice.passedElement.element.addEventListener('showDropdown', function () {
            console.log('Dropdown is opened');
            // This event won't trigger category population again since `setChoices()` is already handled in the Edit button click
            if (!categoriesFetched) {
                GetCategory();  // Only fetches categories if not done yet
                categoriesFetched = true;
            }
        });

        // Clear button functionality
        $('#clearBtn').click(function () {
            // Clear all text inputs
            $('input[type="text"], input[type="number"], input[type="file"]').val('');

            // Clear all textareas
            $('textarea').val('');

            // Reset all select elements
            $('select').prop('selectedIndex', 0);

            pond.removeFiles(); // Clears all uploaded and pending files
        });

        $(document).on('click', '#MoreInfo', function () {
            var dataId = $(this).data('id'); // Get the data-id from the button

            // Make an AJAX request to fetch the book details
            $.ajax({
                url: '/get-book-info/', // Replace with your actual URL for fetching book details
                type: 'GET',
                data: {
                    'id': dataId
                },
                success: function (response) {
                    // Populate the modal fields with data from the response
                    $('#book-info').text(response.title);
                    $('#book-year').text('Year: ' + response.year);
                    $('#book-isbn').text('ISBN: ' + response.isbn);
                    $('#book-location').text('Location: ' + response.location);
                    $('#book-late-fee').text('Late fee: ₱' + response.late_fee);

                    // Update authors list
                    var authorsHtml = '';
                    response.authors.forEach(function (author) {
                        authorsHtml += `<li>${author}</li>`;
                    });
                    $('#book-authors').html(authorsHtml);

                    // Update book image
                    if (response.image_url) {
                        $('#book-image').attr('src', response.image_url);
                    } else {
                        $('#book-image').attr('src', "{% static 'assets/static/images/No-Image-Placeholder.svg.png' %}");
                    }

                    // Update summary
                    $('#book-summary').text(response.summary);

                    // Show the modal
                    $('#book-info-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        });

        $(document).on('click', '#Edit', function () {
            BookMasterID = $(this).data('id');
        });

        $('#edit-modal').on('shown.bs.modal', function() {
            InitializeDatatable();
        });

        $('#edit-modal').on('hidden.bs.modal', function () {
            // Destroy the existing DataTable if it exists
            if ($.fn.DataTable.isDataTable('#books')) {
                $('#books').DataTable().destroy();
            }

        });

        // jQuery event listener for select on change
        $('#books').on('change', '.status-select', function () {
            const selectedValue = $(this).val(); // Get the selected status ID
            const bookId = $(this).data('id'); // Get the book_id from data-id attribute

            $.ajax({
                url: "{% url 'update-status' %}", // Django URL
                type: "POST",
                data: {
                    'book_id': bookId,
                    'status': selectedValue,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.isSuccess == 'true') {
                        // Swal.fire({
                        //     icon: "success",
                        //     title: "Success",
                        //     message: response.message,
                        // })
                        console.log(response.message);
                    }
                },

                error: function () {
                }
            });
        });





        $(document).on('click', '#EditBook', function () {
            let dataId = BookMasterID;

            // First AJAX request to get the book details
            $.ajax({
                url: '/get-book-info/',  // Adjust this URL if needed
                type: 'GET',
                data: {
                    'id': dataId
                },
                success: function (response) {
                    if (response.image_url) {
                        pond.addFile(response.image_url).then(file => {
                            console.log('File has been loaded', file);
                        }).catch(error => {
                            console.error('Error loading file:', error);
                        });
                    } else {
                        pond.removeFiles();  // Clear the file pond if no image is provided
                    }

                    $('#bookMasterID').val(response.book_master_id)
                    $('#bookTitle').val(response.title);
                    $('#isbn').val(response.isbn);
                    $('#publisher').val(response.publisher);
                    $('#year').val(response.year);

                    // Populate authors dynamically
                    $('#authorContainer').empty();
                    $.each(response.authors, function (index, author) {
                        var authorInput = `<div class="input-group col-12 mb-2">
                                                <button class="btn btn-primary" type="button" id="addAuthorBtn">+</button>
                                                <input type="text" class="form-control" name="author[]" value="${author}" required>
                                            </div>`;
                        $('#authorContainer').append(authorInput);
                    });

                    $('#location').val(response.location);

                    $('#borrowingDuration').val(response.duration);
                    $('#fine').val(response.late_fee);

                    selectedCategories = response.categories;

                    categoriesChoice.clearStore();  // Clears previous categories to avoid duplicates

                    // Fetch all available categories and set the choices
                    $.ajax({
                        url: "{% url 'get-categories' %}",  // Adjust the URL if needed
                        type: 'GET',
                        success: function (response) {
                            const categories = response.categories;

                            // Populate the Choices dropdown with all categories
                            categoriesChoice.setChoices(
                                categories.map(category => ({
                                    value: category.category_id,
                                    label: category.category_name,
                                    selected: selectedCategories.includes(category.category_id),
                                    disabled: false
                                })),
                                'value',
                                'label',
                                false
                            );
                        },
                        error: function (xhr, status, error) {
                            console.error('Error fetching categories:', error);
                        }
                    });


                    $('#summary').val(response.summary);

                    // Check if there's an existing soft copy and display the link
                    if (response.soft_copy) {
                        $('#currentFile').html(
                            `<a href="${response.soft_copy}" target="_blank">View current digital copy</a>`
                        );
                    } else {
                        $('#currentFile').empty();  // If no file exists, clear any previous content
                    }

                    // Open the modal after the form is populated
                    $('#book-edit-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching book info:', error);
                }
            });
        });

        $('#submitBTN').click(function () {
            $('#bookEditForm').submit();
        });

        $('#bookEditForm').submit(function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: "{% url 'update-book' %}",
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.isSuccess == 'true') {
                        Swal.fire({
                            icon: "success",
                            title: "Book updated successfully",
                        })

                        $('#bookEditForm').find('input[type="text"], input[type="number"], input[type="file"]').val('');
                        $('#bookEditForm').find('textarea').val('');
                        $('#bookEditForm').find('select').prop('selectedIndex', 0);
                        categoriesChoice.removeActiveItems();
                        statusChoice.removeActiveItems();
                        pond.removeFiles();

                    } else {
                        Toastify({
                            text: response.message,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            style: {
                                background: "#dc3545",
                            },
                            stopOnFocus: true,
                        }).showToast();
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        });

        $(document).on('click', '#removeBook', function () {
            const book_master_id = $(this).data('id'); // Get the book ID from the button

            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to remove this book?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Proceed with AJAX call to delete the book
                    $.ajax({
                        url: "{% url 'remove-book' %}",  // Replace with your actual URL for removing the book
                        type: 'POST',
                        data: {
                            'book_master_id': book_master_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}' // Include CSRF token
                        },
                        success: function (response) {
                            if (response.isSuccess) {
                                Swal.fire(
                                    'Deleted!',
                                    'The book has been removed.',
                                    'success'
                                );
                                // Refresh the DataTable or remove the row from the table
                                $('#bookManagememt').DataTable().ajax.reload(); // Reload the DataTable
                            } else {
                                Swal.fire(
                                    'Error!',
                                    response.message,
                                    'error'
                                );
                            }
                        },
                        error: function (xhr, status, error) {
                            Swal.fire(
                                'Error!',
                                'An error occurred while deleting the book.',
                                'error'
                            );
                        }
                    });
                }
            });
        });

        function GetCategory() {
            $.ajax({
                url: "{% url 'get-categories' %}",
                type: 'GET',
                success: function (response) {
                    const categories = response.categories;  // Full list of categories

                    categoriesChoice.removeActiveItems();
                    categoriesChoice.clearChoices();

                    // Populate the Choices dropdown with all categories
                    categoriesChoice.setChoices(
                        categories.map(category => ({
                            value: category.category_id,
                            label: category.category_name,
                            selected: selectedCategories.includes(category.category_id),  // Mark as selected if the category is in the selectedCategories list
                            disabled: false
                        })),
                        'value',
                        'label',
                        false
                    );
                },
                error: function (xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        }

        function InitializeDatatable() {
            console.log(BookMasterID);

            // Destroy the existing DataTable if it exists
            if ($.fn.DataTable.isDataTable('#books')) {
                $('#books').DataTable().destroy();
            }

            // Initialize DataTable
            $('#books').DataTable({
                dom: '<"row mb-3"<"col-12 col-md-4"l><"col-12 col-md-4 text-center"B><"col-12 col-md-4 d-flex justify-content-end"f>>' +
                    'rt' +
                    '<"row mt-3"<"col-12 col-md-6"i><"col-12 col-md-6 d-flex justify-content-end"p>>',
                buttons: ['copy', 'excel', 'pdf'],
                responsive: false,
                scrollX: true,
                ajax: {
                    url: "{% url 'get-bookmaster-books' %}",
                    type: 'GET',
                    data: function (d) {
                        d.BookMasterID = BookMasterID;
                    },
                    dataSrc: 'books'
                },
                columns: [
                    { data: 'book_qr_value' },
                    { data: 'title' },
                    { data: 'isbn', className: 'text-start' },  
                    {
                        data: 'status',
                        render: function (data, type, row) {
                            const selectedStatus1 = data === 1 ? 'selected' : '';
                            const selectedStatus2 = data === 2 ? 'selected' : '';
                            const selectedStatus3 = data === 3 ? 'selected' : '';
                            const selectedStatus4 = data === 4 ? 'selected' : '';
                            const isDisabled = (data === 3 || data === 4) ? 'disabled' : '';



                            return `<select class="form-select status-select" id="status-${row.book_id}" ${isDisabled} required name="status" data-id="${row.book_id}">
                                        <option disabled hidden value="0">Status</option>
                                        <option value="1" ${selectedStatus1}>Available</option>
                                        <option value="2" ${selectedStatus2}>Under Maintenance</option>
                                        <option value="3" ${selectedStatus3}>Reserved</option>
                                        <option value="4" ${selectedStatus4}>Borrowed</option>


                                    </select>`;

                        },
                        className: 'text-center'
                    }
                    

                ]
            });

            // Force a redraw when the modal is shown
            $('#edit-modal').on('shown.bs.modal', function () {
                $('#books').DataTable().columns.adjust().draw();
            });
        }

        function UpdateBagNumber(){
            $.ajax({
                url: "{% url 'update-bag-number' %}", 
                type: "GET",
                success: function (response) {
                    console.log(response.total_reservations);
                    $('.notification-dot').text(response.total_reservations);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }



    });
</script>