{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Library Management System</title>
   <link rel="icon" href="{% static 'assets/static/images/logo_icon.ico' %}" type="image/x-icon">
   {% include "_CSSreferences.html" %}
</head>

<body>
   <div id="auth">
      <div class="row h-100">
         <div class="col-lg-5 col-12">
            <div id="auth-left">
               <div class="auth-logo d-flex align-items-center">
                  <a href="#"><img src="{% static 'assets/static/images/logo.png' %}" alt="Logo" class="me-3" style="height: 100px;"></a>
                  <h2 class="mb-0">PNHS Library Management System</h2> <!-- Added text here -->
               </div>
               <h1 class="auth-title">Log in.</h1>
               <form id="loginForm" method="POST">
                  {% csrf_token %}
                  <div class="form-group position-relative has-icon-left mb-4">
                     <input type="text" class="form-control form-control-l" placeholder="Username" id="username" name="username">
                     <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                     </div>
                  </div>
                  <div class="form-group position-relative has-icon-left mb-4">
                     <input type="password" class="form-control form-control-l" placeholder="Password" id="password" name="password">
                     <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                     </div>
                     <!-- Show/Hide password toggle with eye icons -->
                     <div class="position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                        <i class="bi bi-eye-slash" id="togglePassword"></i>
                     </div>
                  </div>
                  <button class="btn btn-primary btn-block btn-l shadow-lg mt-5" id='login' type='submit'>Log in</button>
               </form>
               <div class="text-center mt-5 text-lg fs-6">
                  <p class="text-gray-600">Don't have an account? <a href={% url "registration" %} class="font-bold">Sign up</a>.</p>
                  <p><a class="font-bold" href="{% url "registration" %}">Forgot password?</a>.</p>
               </div>
            </div>
         </div>
         <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">
            </div>
         </div>
      </div>
   </div>
   {% include "_JSreferences.html" %}
</body>

</html>

<script>
   $(document).ready(function () {
      $('#togglePassword').click(function () {
         var passwordField = $('#password');
         var icon = $(this);

         if (passwordField.attr('type') === 'password') {
            passwordField.attr('type', 'text'); // Show the password
            icon.removeClass('bi-eye-slash').addClass('bi-eye'); // Change to open eye icon
         } else {
            passwordField.attr('type', 'password'); // Hide the password
            icon.removeClass('bi-eye').addClass('bi-eye-slash'); // Change to closed eye icon
         }
      });
      $('#loginForm').submit(function (e) {
         e.preventDefault();

         let formData = new FormData(this);

         $.ajax({
            url: "{% url 'verify-login' %}",
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            headers: {
               'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function (response) {
               if (response.isAuthenticated) {
                  window.location.href = response.url;
               }
               else {
                  Toastify({
                     text: response.message,
                     duration: 3000,
                     close: true,
                     gravity: "top",
                     position: "right",
                     style: {
                        background: "#dc3545", // Bootstrap's danger color
                     },
                     stopOnFocus: true,
                  }).showToast();
               }
            },
            error: function (xhr, status, error) {
               console.log("An error occurred: " + error);
            }
         });
      })
   });
</script>