{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    {% include "_CSSreferences.html" %}
</head>

<body class='d-flex flex-column vh-100'>
    <script src={% static "assets/static/js/initTheme.js" %}></script>
    <div id="app">
        {% include "_sideNavigation.html" %}
        <div id="main">
            <!--Header-->
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <h3>Borrow and Return</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end align-items-center">
                    <!-- Icon with notification dot -->
                    <div class="position-relative me-3">
                        <i class="bi bi-backpack" style="font-size: 1.5rem;"></i>
                        <span
                            class="notification-dot position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                            id="bagContent">

                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--Main Page-->
            <div class="page-content">
                <!--Start Your Page Here-->
                <div class="row mb-3" id="message-box">
                    <div class="col-12 text-center">
                        <p>Please scan the borrower's QR code or click the button below to enter the borrower's email
                            address:</p>
                        <button class="btn btn-primary" id="show-qr-input-btn">Enter Borrower's Email</button>
                    </div>
                </div>
                <div class="row mb-3">
                    <form id="qr-form" hidden>
                        <div class="input-group" id="qr-group-input">
                            <span class="input-group-text" id="basic-addon1" style="align-items: normal;">
                                <i class="bi bi-search"></i>
                            </span>
                            <input type="text" class="form-control"
                                placeholder="Scan/Enter borrower's QR Code or email address" aria-label="Book's Name"
                                aria-describedby="button-addon2" id="qrInput" required>
                            <button class="btn btn-sm btn-outline-primary" type="submit" id="searchBTN">Search</button>
                        </div>
                    </form>
                </div>
                <div class="row" id="details" hidden>
                    <div class="col-12 col-lg-3">
                        {% include "BorrowReturnPage/_profile.html" %}
                    </div>
                    <div class="col-12 col-lg-9">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="borrow-tab" data-bs-toggle="tab" href="#to-borrow"
                                    role="tab" aria-controls="to-borrow" aria-selected="true">To Borrow</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="return-tab" data-bs-toggle="tab" href="#to-return" role="tab"
                                    aria-controls="to-return" aria-selected="false">To Return</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-2" id="myTabContent">
                            <div class="tab-pane fade show active" id="to-borrow" role="tabpanel"
                                aria-labelledby="borrow-tab">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-outline-primary mx-1"
                                        id="select-all-to-borrow">Select All</button>
                                    <button type="button" class="btn btn-primary mx-1"
                                        id="borrow-selected">Borrow</button>
                                </div>

                                <table class="table table-striped" id="borrowTable" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-start"></th>
                                            <th class="text-start">Title</th>
                                            <th class="text-start">ISBN</th>
                                            <th class="text-start">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="to-return" role="tabpanel" aria-labelledby="return-tab">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-outline-primary mx-1"
                                        id="select-all-to-return">Select All</button>
                                    <button type="button" class="btn btn-primary mx-1"
                                        id="return-selected">Return</button>
                                </div>

                                <table class="table table-striped" id="returnTable" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="text-start"></th>
                                            <th class="text-start">Title</th>
                                            <th class="text-start">ISBN</th>
                                            <th class="text-start">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "BookCollectionPage/_more-info-books.html" %}
        {% include "_footer.html" %}
    </div>
    {% include "_JSreferences.html" %}
</body>

</html>
<script>
    // Arrays to hold selected IDs
    let ToReturn = [];
    let ToBorrow = [];

    $(document).ready(function () {
        UpdateBagNumber()

        // QR Code Handling
        let qrData = '';

        document.addEventListener('keypress', function (event) {
            // Check if Enter key is pressed to submit the QR data
            if (event.key === 'Enter') {
                if (qrData) {
                    console.log(qrData)
                    $('#qrInput').val(qrData);
                    LoadProfile()
                    qrData = ''; // Reset for the next scan
                }
            } else {
                qrData += event.key; // Collect QR code characters
            }
        });

        $('#show-qr-input-btn').click(function() {
            $('#qr-form').removeAttr('hidden');
            $('#message-box').attr('hidden', true);
        });

        $(document).on('change', 'input[type="checkbox"]', function () {
            var bookId = $(this).val();
            var category = $(this).data('category'); // Get the data-category value

            if (category === 'borrow') {
                if (this.checked) {
                    // Add the book ID to the ToBorrow array
                    ToBorrow.push(bookId);
                } else {
                    // Remove the book ID from the ToBorrow array
                    ToBorrow = ToBorrow.filter(function (id) {
                        return id !== bookId;
                    });
                }
            } else if (category === 'return') {
                if (this.checked) {
                    // Add the book ID to the ToReturn array
                    ToReturn.push(bookId);
                } else {
                    // Remove the book ID from the ToReturn array
                    ToReturn = ToReturn.filter(function (id) {
                        return id !== bookId;
                    });
                }
            }
        });

        $('#return-tab').on('shown.bs.tab', function () {
            InitializeToReturnTable()
        })


        $('#qr-form').submit(function(event) {
            event.preventDefault();  // Prevent default form submission
            LoadProfile();
        });

        $(document).on('click', '#MoreInfo', function () {
            var dataId = $(this).data('id'); // Get the data-id from the button

            // Make an AJAX request to fetch the book details
            $.ajax({
                url: '/get-book-info/', // Replace with your actual URL for fetching book details
                type: 'GET',
                data: {
                    'id': dataId
                },
                success: function (response) {
                    // Populate the modal fields with data from the response
                    $('#book-info').text(response.title);
                    $('#book-year').text('Year: ' + response.year);
                    $('#book-isbn').text('ISBN: ' + response.isbn);
                    $('#book-location').text('Location: ' + response.location);
                    $('#book-late-fee').text('Late fee: ₱' + response.late_fee);

                    // Update authors list
                    var authorsHtml = '';
                    response.authors.forEach(function (author) {
                        authorsHtml += `<li>${author}</li>`;
                    });
                    $('#book-authors').html(authorsHtml);

                    // Update book image
                    if (response.image_url) {
                        $('#book-image').attr('src', response.image_url);
                    } else {

                        $('#book-image').attr('src', "{% static 'assets/static/images/No-Image-Placeholder.svg.png' %}");
                    }

                    // Update summary
                    $('#book-summary').text(response.summary);

                    // Show the modal
                    $('#book-info-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        });

        // Select all/unselect all functionality
        $('#select-all-to-borrow').click(function () {
            var checkboxes = $('#borrowTable input[type="checkbox"]');
            var isChecked = $(this).text() === "Select All"; // Check if "Select All" button is active

            if (isChecked) {
                // Select all checkboxes
                checkboxes.prop('checked', true);
                // Clear the ToBorrow list and add all book IDs
                ToBorrow = checkboxes.map(function () {
                    return $(this).val();
                }).get();
                $(this).text('Unselect All'); // Change button text to "Unselect All"
                console.log(ToBorrow);
            } else {
                // Unselect all checkboxes
                checkboxes.prop('checked', false);
                // Clear the ToBorrow list
                ToBorrow = [];
                $(this).text('Select All'); // Change button text back to "Select All"
            }
        });

        // Select all/unselect all functionality
        $('#select-all-to-return').click(function () {
            var checkboxes = $('#returnTable input[type="checkbox"]');
            var isChecked = $(this).text() === "Select All"; // Check if "Select All" button is active

            if (isChecked) {
                // Select all checkboxes
                checkboxes.prop('checked', true);
                // Clear the ToBorrow list and add all book IDs
                ToReturn = checkboxes.map(function () {
                    return $(this).val();
                }).get();
                $(this).text('Unselect All'); // Change button text to "Unselect All"
                console.log(ToReturn);
            } else {
                // Unselect all checkboxes
                checkboxes.prop('checked', false);
                // Clear the ToBorrow list
                ToReturn = [];
                $(this).text('Select All'); // Change button text back to "Select All"
            }
        });

        // Borrow Selected function
        $('#borrow-selected').click(function () {
            if (ToBorrow.length > 0) {
                $.ajax({
                    url: "{% url 'borrow_selected_books' %}",
                    type: "POST",
                    data: {
                        'to_borrow': JSON.stringify(ToBorrow),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Books successfully borrowed!',
                            });
                            // Reset the ToBorrow array and update UI
                            ToBorrow = [];
                            $('#select-all-to-borrow').text('Select All'); // Reset the Select All button text
                            $('#borrowTable input[type="checkbox"]').prop('checked', false); // Uncheck all checkboxes
                            LoadProfile(); // Reload the profile data
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'error',
                                text: response.message,
                            });
                        }
                        UpdateBagNumber(); // Update the bag number
                    },
                    error: function () {
                        alert("Error occurred while processing your request.");
                    }
                });
            } else {
                alert("No books selected for borrowing.");
            }
        });

        $('#return-selected').click(function () {
            if (ToReturn.length > 0) {
                $.ajax({
                    url: "{% url 'return_selected_books' %}",  // URL for handling book returns
                    type: "POST",
                    data: {
                        'to_return': JSON.stringify(ToReturn),  // Send selected transaction detail IDs
                        'csrfmiddlewaretoken': '{{ csrf_token }}'  // CSRF token for security
                    },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: 'Books successfully returned!',
                            });
                            // Reset the ToReturn array and update UI accordingly
                            ToReturn = [];
                            $('#select-all-to-return').text('Select All'); // Reset the Select All button text
                            $('#returnTable input[type="checkbox"]').prop('checked', false); // Uncheck all checkboxes
                            LoadProfile()
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'error',
                                text: response.message,
                            });
                        }
                        UpdateBagNumber()
                    },
                    error: function () {
                        alert("Error occurred while processing your request.");
                    }
                });
            } else {
                alert("No books selected for return.");
            }
        });

        function LoadProfile() {
            var borrower = $('#qrInput').val();

            if (!borrower) {
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Email address is required.",
                });
            }

            // Send AJAX request to fetch user and book data
            $.ajax({
                url: "{% url 'load-profile' %}",
                type: "POST",
                data: {
                    'borrower': borrower,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response);
                    if (response.isSuccess === 'false') {
                        // If user not found
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: response.message,
                        });
                    } else {
                        // Update borrower profile
                        updateUserProfile(response.user);
                        InitializeToBorrowTable(borrower)
                        InitializeToReturnTable(borrower)
                        $('#details').removeAttr('hidden');
                        $('#message-box').attr('hidden', true);           

                    }
                },
                error: function () {
                    alert('Error occurred while fetching the data.');
                }
            });
        }

        // Function to update borrower profile
        function updateUserProfile(user) {
            console.log(user.first_name);
            var userProfile = $('#user-profile');

            // Update user full name, phone, email, and book counts
            userProfile.find('#user-full-name').text(user.first_name + " " + user.last_name);
            userProfile.find('#user-phone').text(`(${user.cellphone_number})`);
            userProfile.find('#user-email').text(user.email);
            userProfile.find('#reserved-books').text(`Reserved Books: ${user.reserved_books_count}`);
            userProfile.find('#on-hand-books').text(`On-Hand Books: ${user.on_hand_books_count}`);
            userProfile.find('#delayed-books').text(`Delayed Books: ${user.delayed_books_count}`);

            // Update user profile picture
            userProfile.find('#user-profile-picture').attr('src', user.profile_pic);
        }

        function InitializeToBorrowTable(borrower) {
            // Check if DataTable is already initialized
            if ($.fn.dataTable.isDataTable('#borrowTable')) {
                // If it is, destroy the existing DataTable and reinitialize
                $('#borrowTable').DataTable().clear().destroy();
            }

            $('#borrowTable').DataTable({
                responsive: false,
                sscrollX: true,  // Enable horizontal scrolling
                scrollY: '400px', // Set a specific height for vertical scrolling of table data only
                scrollCollapse: true,
                pageLength: -1,  // Show all entries by default
                ajax: {
                    url: "{% url 'get-to-borrow' %}",
                    type: 'POST',
                    data: {
                        'borrower': borrower,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataSrc: function (json) {
                        if (json.isSuccess === 'true') {
                            return json.reserved_books;
                        } else {
                            alert(json.message);
                            return [];
                        }
                    }
                },
                columns: [
                    {
                        data: 'reservation_id',  // Reservation ID for checkbox
                        render: function (data) {
                            return `<input type="checkbox" value="${data}" data-category="borrow">`;
                        },
                        orderable: false
                    },
                    { data: 'book__book_master__title' },  // Use the correct field path
                    { data: 'book__book_master__isbn' },   // Use the correct field path
                    {
                        data: 'book__book_master__book_master_id',  // Book Master ID for More Info button
                        render: function (data) {
                            return `
                    <button class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                        data-bs-target="#book-info-modal" data-id="${data}" id="MoreInfo">
                        <i class="bi bi-info-circle"></i>
                    </button>`;
                        },
                        orderable: false
                    }
                ]
            });
        }

        function InitializeToReturnTable() {
            var borrower_2 = $('#qrInput').val();
            // Check if DataTable is already initialized
            if ($.fn.dataTable.isDataTable('#returnTable')) {
                // If it is, destroy the existing DataTable and reinitialize
                $('#returnTable').DataTable().clear().destroy();
            }

            $('#returnTable').DataTable({
                responsive: false,
                scrollX: true,  // Enable horizontal scrolling
                scrollY: '400px', // Set a specific height for vertical scrolling of table data only
                scrollCollapse: true,
                pageLength: -1,  // Show all entries by default
                ajax: {
                    url: "{% url 'get-to-return' %}",
                    type: 'POST',
                    data: {
                        'borrower': borrower_2,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    dataSrc: function (json) {
                        if (json.isSuccess === 'true') {
                            return json.borrowed_books;
                        } else {
                            alert(json.message);
                            return [];
                        }
                    }
                },
                columns: [
                    {
                        data: 'transaction_detail_id',  // Transaction Detail ID for checkbox
                        render: function (data) {
                            return `<input type="checkbox" value="${data}" data-category="return">`;
                        },
                        orderable: false
                    },
                    { data: 'book__book_master__title' },
                    { data: 'book__book_master__isbn' },
                    {
                        data: 'book__book_master__book_master_id',  // Book Master ID for More Info button
                        render: function (data) {
                            return `
                            <button class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                                data-bs-target="#book-info-modal" data-id="${data}" id="MoreInfo">
                                <i class="bi bi-info-circle"></i>
                            </button>`;
                        },
                        orderable: false
                    }
                ],
                createdRow: function (row, data, dataIndex) {
                    var expectedReturnDate = new Date(data.expected_date_return);
                    var today = new Date();

                    // Highlight row in red if the expected return date is before today
                    if (expectedReturnDate < today) {
                        $(row).addClass('bg-danger');  // Add the red background color class
                    }
                }
            });
        }






        function UpdateBagNumber() {
            $.ajax({
                url: "{% url 'update-bag-number' %}",
                type: "GET",
                success: function (response) {
                    console.log(response.total_reservations);
                    $('.notification-dot').text(response.total_reservations);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

    });
</script>