{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Library Management System</title>
      {% include "_CSSreferences.html" %}
   </head>
   <body>
      <div id="auth">
         <div class="row h-100">
            <div class="col-lg-5 col-12">
               <div id="auth-left">
                  <div class="auth-logo">
                     <a href="#"><img src={% static "assets/compiled/svg/logo.svg" %} alt="Logo"></a>
                  </div>
                  <h1 class="auth-title">Verify Email.</h1>
                  <p>We've sent you a link to a reset password in the email you provided.</p>
                  <form action="">

                  </form>
               </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">S
               <div id="auth-right">
               </div>
            </div>
         </div>
      </div>
      {% include "_JSreferences.html" %}
   </body>
</html>

<script>
   $(document).ready(function() {
      $('#login').click(function(){
         console.log('Hello');
         window.location.href = "{% url 'ResetPassword' %}";
      });
   });
</script>