{% load static %}
<div class="page-content">
    <!--Start Your Page Here-->
    <div class="table-responsive">
        <!-- Modal for edit profile will be used here but with some changes -->
        <!-- Buttons for each input field will be disabled and also the input fields -->
        <!-- Reset Password will be remove and save buttons and cancel will be replaced as close -->
        <table class="table table-striped" id="bookTable">
            <thead>
                <tr>
                    <th class="text-start">Title</th>
                    <th class="text-start">Year</th>
                    <th class="text-start">ISBN</th>
                    <th class="text-start">Location</th>
                    <th class="text-start">Late Fee</th>
                    <th class="text-start">Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>
