{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Library Management System</title>
        {% include "_CSSreferences.html" %}
    </head>
    <body class='d-flex flex-column vh-100'>
        <script src={% static "assets/static/js/initTheme.js" %}></script>
        <div id="app">
            {% include "_sideNavigation.html" %}
            <div id="main">
                <!--Header-->
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <h3>Book Collection</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end align-items-center">
                    <!-- Icon with notification dot -->
                    <div class="position-relative me-3">
                        <i class="bi bi-backpack" style="font-size: 1.5rem;"></i>
                        <span
                            class="notification-dot position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--Main Page-->

            <div class="page-content">
                <!--Start Your Page Here-->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="by-cards-tab" data-bs-toggle="tab" href="#by-cards" role="tab"
                            aria-controls="by-cards" aria-selected="true">Cards</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="by-table-tab" data-bs-toggle="tab" href="#by-table" role="tab"
                            aria-controls="by-table" aria-selected="false">Table</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="by-cards" role="tabpanel" aria-labelledby="by-cards-tab">
                        {% include "BookCollectionPage/_by-cards.html" %}
                    </div>
                    <div class="tab-pane fade" id="by-table" role="tabpanel" aria-labelledby="by-table-tab">
                        {% include "BookCollectionPage/_by-table.html" %}
                    </div>
                </div>
            </div>
            {% include "BookCollectionPage/_more-info-books.html" %}
            {% include "_footer.html" %}
        </div>
    </div>
    {% include "_JSreferences.html" %}
</body>

</html>

<script>
    $(document).ready(function () {
        var tooltipTriggerList = $('[data-bs-toggle="tooltip"]');
        var tooltipList = tooltipTriggerList.map(function () {
            return new bootstrap.Tooltip(this);
        });

        let tableInitialized = false;

        // Event listener for when the "Table" tab is clicked
        $('#by-table-tab').on('shown.bs.tab', function () {
            // Check if the DataTable has already been initialized
            if (!tableInitialized) {
                $('#book-table').DataTable({
                    dom: '<"row mb-3"<"col-12 col-md-4"l><"col-12 col-md-4 text-center"B><"col-12 col-md-4 d-flex justify-content-end"f>>' +
                        'rt' +
                        '<"row mt-3"<"col-12 col-md-6"i><"col-12 col-md-6 d-flex justify-content-end"p>>',
                    buttons: ['copy', 'excel', 'pdf'],
                    responsive: false,
                    scrollX: true
                });
                // Mark the DataTable as initialized
                tableInitialized = true;
            }
        });
    });    
</script>