{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    {% include "_CSSreferences.html" %}
</head>

<body class='d-flex flex-column vh-100'>
    <script src={% static "assets/static/js/initTheme.js" %}></script>
    <div id="app">
        {% include "_sideNavigation.html" %}
        <div id="main">
            <!--Header-->
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading row">
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <h3>Book Collection</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end align-items-center">
                    <!-- Icon with notification dot -->
                    <div class="position-relative me-3">
                        <i class="bi bi-backpack" style="font-size: 1.5rem;"></i>
                        <span
                            class="notification-dot position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="bagContent">
                            
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--Main Page-->

            <div class="page-content">
                <!--Start Your Page Here-->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="by-cards-tab" data-bs-toggle="tab" href="#by-cards" role="tab"
                            aria-controls="by-cards" aria-selected="true">Cards</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="by-table-tab" data-bs-toggle="tab" href="#by-table" role="tab"
                            aria-controls="by-table" aria-selected="false">Table</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="by-cards" role="tabpanel" aria-labelledby="by-cards-tab">
                        <div>
                            {% include "BookCollectionPage/_filters.html" %}
                            {% include "BookCollectionPage/_by-cards.html" %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="by-table" role="tabpanel" aria-labelledby="by-table-tab">
                        {% include "BookCollectionPage/_by-table.html" %}
                    </div>
                </div>
            </div>
            {% include "BookCollectionPage/_more-info-books.html" %}
            {% include "_footer.html" %}
        </div>
    </div>
    {% include "_JSreferences.html" %}
</body>

</html>

<script>
    $(document).ready(function () {
        var tooltipTriggerList = $('[data-bs-toggle="tooltip"]');
        var tooltipList = tooltipTriggerList.map(function () {
            return new bootstrap.Tooltip(this);
        });

        let tableInitialized = false;

        UpdateBagNumber()

        $('#searchButton').on('click', function () {
            loadBooks(1); 
        });


        // Load categories via AJAX when the collapse button is clicked
        $('#toggleCategories').on('click', function () {
            if ($('#collapseExample').hasClass('show')) {
                return; // Don't reload if already loaded
            }

            $.ajax({
                url: "{% url 'get-category-filters' %}",
                method: "GET",
                dataType: "json",
                success: function (response) {
                    let categoriesHtml = '';
                    response.categories.forEach(function (category) {
                        categoriesHtml += `
                        <div class="form-check col-12 col-md-4 col-lg-3">
                            <input class="form-check-input" type="checkbox" value="${category.category_id}" id="category${category.category_id}">
                            <label class="form-check-label" for="category${category.category_id}">
                                ${category.category_name}
                            </label>
                        </div>`;
                    });
                    $('#categoriesContainer').html(categoriesHtml);
                },
                error: function (error) {
                    console.log("Error loading categories:", error);
                }
            });
        });

        $('#clear-filters').click(function () {
            // Uncheck all checkboxes
            $('#categoriesContainer input[type="checkbox"]').prop('checked', false);
        });

        // Event listener for when the "Table" tab is clicked
        $('#by-table-tab').on('shown.bs.tab', function () {
            // Check if the DataTable has already been initialized
            if (!tableInitialized) {
                $('#bookTable').DataTable({
                    dom: '<"row mb-3"<"col-12 col-md-4"l><"col-12 col-md-4 text-center"B><"col-12 col-md-4 d-flex justify-content-end"f>>' +
                        'rt' +
                        '<"row mt-3"<"col-12 col-md-6"i><"col-12 col-md-6 d-flex justify-content-end"p>>',
                    buttons: ['copy', 'excel', 'pdf'],
                    responsive: false,
                    scrollX: true,
                    ajax: {
                        url: "{% url 'get-books' %}",
                        type: 'GET',
                        data: function (d) {
                            d.caller = "Others";  // Add this line to pass the caller parameter
                        },
                        dataSrc: 'books'
                    },
                    columns: [
                        { data: 'title' },
                        { data: 'year', className: 'text-start' },
                        { data: 'isbn', className: 'text-start' },
                        { data: 'location' },
                        { data: 'late_fee', className: 'text-start' },
                        {
                            data: 'book_master_id',
                            render: function (data, type, row) {
                                const infoButton = `<button class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                                data-bs-target="#book-info-modal" data-id="${data}" id="MoreInfo">
                                <i class="bi bi-info-circle"></i>
                            </button>`;
                                const addToShelfButton = !row.has_invalid_books
                                    ? `<button class="btn btn-outline-primary btn-sm AddToBag" data-id="${data}" data-trigger="table">
                            <i class="bi bi-backpack"></i>
                        </button>`
                                    : `<button class="btn btn-outline-secondary btn-sm" disabled>
                            <i class="bi bi-backpack"></i> Out of Stock
                        </button>`;

                                return `${infoButton} ${addToShelfButton}`;
                            },
                            className: 'text-center'
                        }
                    ]


                });
                tableInitialized = true;
            }
        });

        function loadBooks(pageNumber) {
            // Get the search term and selected categories
            const searchTerm = $('input[type="text"]').val();  // Get the search term from the input field
            const selectedCategories = [];

            // Get selected categories
            $('#categoriesContainer input[type="checkbox"]:checked').each(function () {
                selectedCategories.push($(this).val());
            });

            $.ajax({
                url: "{% url 'load-books' %}",
                data: {
                    page: pageNumber,
                    search: searchTerm,
                    categories: selectedCategories.join(',')  // Pass selected categories as a comma-separated string
                },
                dataType: 'json',
                success: function (data) {
                    // Update the book cards with the new HTML
                    $('#books').html(data.html);
                    // Update pagination controls
                    updatePagination(pageNumber, data.has_next);
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error: " + status + error);
                }
            });
        }


         // Initial load of books
        loadBooks(1);  // Load the first page of books

        // Function to update pagination controls
        function updatePagination(currentPage, hasNext) {
            const pagination = $('#pagination');  // Assuming you have a pagination container
            pagination.empty();  // Clear current pagination
            pagination.append(`<button class="btn btn-primary" id="prev" ${currentPage <= 1 ? 'disabled' : ''}>Previous</button>`);
            pagination.append(`<button class="btn btn-primary" id="next" ${hasNext ? '' : 'disabled'}>Next</button>`);

            // Previous button event
            $('#prev').off('click').on('click', function () {
                loadBooks(currentPage - 1);
            });

            // Next button event
            $('#next').off('click').on('click', function () {
                loadBooks(currentPage + 1);
            });
        }

        function GetCategory() {
            $.ajax({
                url: "{% url 'get-categories' %}",
                type: 'GET',
                success: function (response) {
                    const categories = response.categories;

                    // Clear existing Choices.js options
                    categoriesChoice.clearChoices();

                    // Add new options to Choices.js
                    categoriesChoice.setChoices(
                        categories.map(category => ({
                            value: category.category_id,
                            label: category.category_name,
                            selected: false,
                            disabled: false,
                        })),
                        'value',
                        'label',
                        false
                    );
                },
                error: function (xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        }

        $(document).on('click', '#MoreInfo', function () {
            var dataId = $(this).data('id'); // Get the data-id from the button

            // Make an AJAX request to fetch the book details
            $.ajax({
                url: '/get-book-info/', // Replace with your actual URL for fetching book details
                type: 'GET',
                data: {
                    'id': dataId
                },
                success: function (response) {
                    // Populate the modal fields with data from the response
                    $('#book-info').text(response.title);
                    $('#book-year').text('Year: ' + response.year);
                    $('#book-isbn').text('ISBN: ' + response.isbn);
                    $('#book-location').text('Location: ' + response.location);
                    $('#book-late-fee').text('Late fee: ₱' + response.late_fee);

                    // Update authors list
                    var authorsHtml = '';
                    response.authors.forEach(function (author) {
                        authorsHtml += `<li>${author}</li>`;
                    });
                    $('#book-authors').html(authorsHtml);

                    // Update book image
                    if (response.image_url) {
                        $('#book-image').attr('src', response.image_url);
                    } else {

                        $('#book-image').attr('src', "{% static 'assets/static/images/No-Image-Placeholder.svg.png' %}");
                    }

                    // Update summary
                    $('#book-summary').text(response.summary);
                    // Update categories list

                    console.log(response.categories);
                    var categoriesHtml = '';
                    response.categories.forEach(function (category) {
                        console.log(category)
                        categoriesHtml +=  `<span class="badge bg-primary me-1">${category}</span>`;
                    });
                    $('#book-categories').html(categoriesHtml);

                    // Update soft copy link
                    if (response.soft_copy) {
                        $('#softcopy-link').html(`<a href="${response.soft_copy}" target="_blank" class="btn btn-primary">Download Softcopy</a>`);
                    } else {
                        $('#softcopy-link').html('');
                    }

                    // Show the modal
                    $('#book-info-modal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        });

        $(document).on('click', '.AddToBag', function () {
            var button = $(this); // Store a reference to the clicked button
            var book_master_id = button.data('id'); // Get the data-id from the button
            var trigger = button.data('trigger') || "card"; // If no 'data-trigger', use "card" as default

            // Make an AJAX request to fetch the book details
            $.ajax({
                url: "{% url 'reserve-book' %}", // Django URL
                type: "POST",
                data: {
                    'book_master_id': book_master_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.isSuccess) {
                        console.log(response.stillAvailable);
                        Swal.fire({
                            icon: "success",
                            title: response.message,
                        }).then((result) => {
                            if (result.isConfirmed || result.isDismissed) {
                                console.log("SHEESH")
                                if (response.stillAvailable === false) {
                                    if(trigger == "card"){
                                        button.text('Out of Stock')  // Update the button text
                                        .attr('disabled', true);  // Disable the button
                                    }
                                    else {
                                        var table = $('#bookTable').DataTable(); // Get the DataTable instance
                                        table.ajax.reload(null, false);  // Reload the table data, keeping the current pagination and search state
                                    }
                                    

                                }
                            }
                        });
                    }
                    UpdateBagNumber();  // Call the function to update the bag number (if applicable)

                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        });


        function UpdateBagNumber(){
            $.ajax({
                url: "{% url 'update-bag-number' %}", 
                type: "GET",
                success: function (response) {
                    console.log(response.total_reservations);
                    $('.notification-dot').text(response.total_reservations);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

    });    
</script>