{% load static %}
<div class="modal fade" id="add-category-modal" tabindex="-1" role="dialog" aria-labelledby="add-category"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-category">Add Category</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form id="newCategoryForm" method="POST">
                    <div class="row mb-3">
                        <label for="categoryName" class="form-label">New Category</label>
                        <input type="text" class="form-control" id="categoryName" placeholder="Enter Category Name"
                            name="categoryName" required>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary me-2" id="saveBtn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>