<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload Excel File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Template Download Link -->
                <p>
                    <a href="{{ template_url }}" download class="text-decoration-none">
                        <i class="fas fa-download"></i> Download Template
                    </a>
                </p>

                <!-- File Upload Form -->
                <form id="excel-upload-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="excel_file" class="form-label">Select Excel File</label>
                        <input class="form-control" type="file" id="excel_file" name="excel_file" accept=".xlsx, .xls" required>
                    </div>
                </form>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="excel-upload-form" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </div>
</div>