{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    {% include "_CSSreferences.html" %}
</head>

<body class='d-flex flex-column vh-100'>
    <script src={% static 'assets/static/js/initTheme.js' %}></script>

    <div id="app">
        {% include "_sideNavigation.html" %}
        <div id="main">
            <!--Header-->
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            <div class="page-heading row">
                <div class="col-10">
                    <h3>Book Registration</h3>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <!-- Icon with notification dot -->
                    <div class="position-relative me-3">
                        <i class="bi bi-backpack" style="font-size: 1.5rem;"></i>
                        <span
                            class="notification-dot position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                            id="bagContent">

                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </div>
                </div>
            </div>
            <!--Main Page-->
            <div class="page-content mb-3">
                <div class="container">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
                            Upload Excel File
                        </button>
                    </div>
                    <form id="bookregistrationForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <!-- Image Upload - Full Row -->
                            <div class="col-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                <label for="imageUpload" class="form-label">Upload Image</label>
                                <input type="file" class="image-resize-filepond form-control" id="imageUpload"
                                    placeholder="Upload Image" name="bookPic">
                            </div>

                            <!-- Title - Full Row -->
                            <div class="col-12 col-lg-8 col-md-6 col-sm-12 mb-3">
                                <label for="bookTitle" class="form-label">Title of the Book</label>
                                <input type="text" class="form-control" id="bookTitle"
                                    placeholder="Enter the title of the book" name="bookTitle" required>
                            </div>
                            <div class="col-12 col-lg-4 col-md-6 col-sm-12 mb-3">
                                <label for="isbn" class="form-label">ISBN</label>
                                <div id="isbnContainer" class="row">
                                    <div class="input-group col-12 mb-2">
                                        <button class="btn btn-primary" type="button" id="generate-isbn"><span
                                                class="bi bi-shuffle"></span></button>
                                        <input type="text" class="form-control" id="isbn"
                                            placeholder="Enter the isbn of the book" name="isbn" required>
                                    </div>
                                </div>
                            </div>

                            <!-- Publisher (3/4) and Year (1/4) -->
                            <div class="col-lg-8 col-md-9 col-sm-12 col-12  mb-3">
                                <label for="publisher" class="form-label">Publisher</label>
                                <input type="text" class="form-control" id="publisher" placeholder="Enter the publisher"
                                    name="publisher" required>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12 mb-3">
                                <label for="year" class="form-label">Year</label>
                                <input type="number" class="form-control" id="year" placeholder="Enter the year"
                                    name="year" min="1" value="1" required>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12 mb-3">
                                <label for="year" class="form-label">Copies</label>
                                <input type="number" class="form-control" id="copies" placeholder="Number of Copies"
                                    name="copies" min="1" value="1" required>
                            </div>

                            <!-- Author(s) - Full Row with Dynamic Adjustment -->
                            <div class="col-12 mb-3">
                                <label class="form-label">Author(s)</label>
                                <div id="authorContainer" class="row">
                                    <div class="input-group col-12 mb-2">
                                        <button class="btn btn-primary" type="button" id="addAuthorBtn">+</button>
                                        <input type="text" class="form-control" name="author[]"
                                            placeholder="Enter author name" required>
                                    </div>
                                </div>
                            </div>

                            <!-- Location (1/4), Status (1/4), Borrowing Duration (1/4), Fine (1/4) -->
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mb-3">
                                <label for="location" class="form-label">Location</label>
                                <input type="text" class="form-control" id="location" placeholder="Enter location"
                                    name="location" required>
                            </div>
                            <!-- <div class="col-md-3 mb-3">
                                <label for="status" class="form-label">Status</label>
                                <select class="form-select" id="status" required name="status">
                                    <option disabled selected hidden value="0">Status</option>
                                    <option value="1">Available</option>
                                    <option value="2">Under Maintenance</option>
                                </select>
                            </div> -->

                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                                <label for="borrowingDuration" class="form-label">Borrowing Duration (Days)</label>
                                <input type="number" class="form-control" id="borrowingDuration"
                                    placeholder="Enter duration in days" name="duration" min="1" value="1">
                            </div>

                            <!-- <div class="col-md-3 mb-3">
                                <label for="fine" class="form-label">Fine per Late Day</label>
                                <input type="number" step="0.01" class="form-control" id="fine"
                                    placeholder="Enter fine amount" name="fine" min="0">
                            </div> -->

                            <!-- File Upload for Digital Copy - Full Row -->
                            <div class="col-lg-5 col-md-5 col-sm-12 col-12 mb-3">
                                <label for="fileUpload" class="form-label">Digital Copy</label>
                                <input class="form-control" type="file" id="fileUpload"
                                    placeholder="Upload digital copy" name="softcopy">
                            </div>

                            <!-- Categories and Add New Category Button -->
                            <div class="row mb-3">
                                <label for="categories" class="form-label">Categories</label>
                                <div class="col-md-12 d-flex align-items-center">
                                    <button class="btn btn-primary" type="button" id="addAuthorBtn"
                                        data-bs-toggle="modal" data-bs-target="#add-category-modal">+</button>
                                    <div class="ms-2 w-100">
                                        <select class="choices form-select" multiple="multiple" required id="categories"
                                            name="categories">
                                        </select>
                                    </div>
                                </div>
                            </div>



                            <!-- Summary - Full Row -->
                            <div class="col-12 mb-3">
                                <label for="summary" class="form-label">Summary</label>
                                <textarea class="form-control" id="summary" placeholder="Enter a summary" rows="5"
                                    name="summary"></textarea>
                            </div>

                            <div class="col-12 mb-3 text-end">
                                <button type="submit" class="btn btn-primary me-2" id="saveBtn">Save</button>
                                <button type="button" class="btn btn-secondary" id="clearBtn">Clear</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            {% include "BookRegistrationPage/_batch-upload.html" %}
            {% include "BookRegistrationPage/_add-category.html" %}
            {% include "_footer.html" %}
        </div>
    </div>
    {% include "_JSreferences.html" %}
</body>

</html>

<script>
    $(document).ready(function () {
        UpdateBagNumber()

        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginImageCrop,
            FilePondPluginImageExifOrientation,
            FilePondPluginImageFilter,
            FilePondPluginImageResize,
            FilePondPluginFileValidateSize,
            FilePondPluginFileValidateType
        );

        const pond = FilePond.create(document.querySelector(".image-resize-filepond"), {
            credits: null,
            allowImagePreview: true,
            allowImageFilter: false,
            allowImageExifOrientation: false,
            allowImageCrop: false,
            allowImageResize: true,
            imageResizeTargetWidth: 200,
            imageResizeTargetHeight: 200,
            imageResizeMode: "cover",
            imageResizeUpscale: true,
            acceptedFileTypes: ["image/png", "image/jpg", "image/jpeg"],
            fileValidateTypeDetectType: (source, type) =>
                new Promise((resolve, reject) => {
                    resolve(type);
                }),
            storeAsFile: true
        });

        $('#generate-isbn').click(function () {
            let isbn = '';
            for (let i = 0; i < 13; i++) {
                let num = Math.floor(Math.random() * 10); // Random number from 0 to 9
                if (num % 2 !== 0) { // Odd numbers
                    switch (num) {
                        case 1: isbn += 'A'; break;
                        case 3: isbn += 'B'; break;
                        case 5: isbn += 'C'; break;
                        case 7: isbn += 'D'; break;
                        case 9: isbn += 'E'; break;
                        default: break; // This will never happen
                    }
                } else {
                    isbn += num; // Even numbers
                }
            }
            $('#isbn').val(isbn);
        });

        $('#isbn').blur(function () {
            const isbn = $('#isbn').val();

            if (isbn.length == 0 || isbn == null) {
                return;
            }

            // AJAX request
            $.ajax({
                url: '{% url "check-ISBN" %}', // URL of the Django view
                type: 'POST',
                data: {
                    'isbn': isbn,
                    'csrfmiddlewaretoken': '{{ csrf_token }}', // Django CSRF token
                },
                success: function (response) {
                    // Handle response here
                    if (response.isExist == 'true') {
                        Swal.fire({
                            icon: "info",
                            title: "ISBN",
                            text: response.message,
                            showCancelButton: true,
                        }).then((result) => {
                            if (result.isDismissed) {
                                $('#isbn').val('')
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.error('AJAX error:', error);
                }
            });
        });

        $('#addAuthorBtn').on('click', function () {
            const newAuthorField = `
                <div class="input-group col-6 mb-2">
                    <button class="btn btn-outline-secondary remove-author-btn" type="button">-</button>
                    <input type="text" class="form-control" name="author[]" placeholder="Enter author name">
                </div>
            `;
            $('#authorContainer').append(newAuthorField);

            $('#authorContainer').on('click', '.remove-author-btn', function () {
                $(this).closest('.input-group').remove();
            });
        });

        // Restrict input for borrowingDuration and fine fields
        $('#borrowingDuration, #year, #copies').on('input', function () {
            if ($(this).val() < 0) {
                $(this).val(1);
            }
        });

        // Prevent negative numbers from being typed
        $('#borrowingDuration, #year, #copies').on('keydown', function (e) {
            // Allow backspace, delete, tab, escape, and enter
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                // Allow Ctrl+A, Ctrl+C, Ctrl+V, Ctrl+X
                (e.keyCode === 65 && e.ctrlKey === true) ||
                (e.keyCode === 67 && e.ctrlKey === true) ||
                (e.keyCode === 86 && e.ctrlKey === true) ||
                (e.keyCode === 88 && e.ctrlKey === true) ||
                // Allow home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // Do nothing
                return;
            }

            // Ensure that it is a number and prevent negative or invalid characters
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) &&
                (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        // Initialize Choices.js for the categories select element
        const categoriesChoice = new Choices('#categories', {
            removeItemButton: true,
            delimiter: ',',
            maxItemCount: -1,
            searchEnabled: true,
            editItems: true,
        });

        // Keep track of existing categories
        let existingCategories = new Set();

        // Listen to the 'showDropdown' event, fetch data only if necessary
        categoriesChoice.passedElement.element.addEventListener('showDropdown', function () {
            console.log('Dropdown is opened');
            console.log('No existing categories');
            GetCategory();
        });

        // const statusChoice = new Choices('#status', {

        // });

        // let existingStatus = new Set();

        // statusChoice.passedElement.element.addEventListener('showDropdown', function () {
        //     console.log('Dropdown is opened');
        //     console.log('No existing categories');
        //     GetStatus();
        // });


        $('#clearBtn').click(function () {
            $('input[type="text"], input[type="number"], input[type="file"]').val('');
            $('textarea').val('');
            $('select').prop('selectedIndex', 0);
            pond.removeFiles();
            categoriesChoice.removeActiveItems();
            // statusChoice.removeActiveItems();
        });

        $('#bookregistrationForm').submit(function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: "{% url 'register-book' %}",
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.isSuccess == 'true') {
                        Swal.fire({
                            icon: "success",
                            title: "Success",
                        })

                        $('#bookregistrationForm').find('input[type="text"], input[type="number"], input[type="file"]').val('');
                        $('#bookregistrationForm').find('textarea').val('');
                        $('#bookregistrationForm').find('select').prop('selectedIndex', 0);
                        categoriesChoice.removeActiveItems();
                        // statusChoice.removeActiveItems();
                        pond.removeFiles();

                    } else {
                        Toastify({
                            text: response.message,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            style: {
                                background: "#dc3545",
                            },
                            stopOnFocus: true,
                        }).showToast();
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        });

        //submitting the new category
        $('#newCategoryForm').submit(function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                url: "{% url 'add-category' %}",
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    if (response.isSuccess == 'true') {
                        Swal.fire({
                            icon: "success",
                            title: "Success",
                        }).then((result) => {
                            if (result.isConfirmed || result.isDismissed) {
                                $('#newCategoryForm').find('input[type="text"]').val('');
                                $('#add-category-modal').modal('toggle');;
                            }
                        });


                    } else {
                        Toastify({
                            text: response.message,
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            style: {
                                background: "#dc3545",
                            },
                            stopOnFocus: true,
                        }).showToast();
                    }
                },
                error: function (xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        });

            $('#excel-upload-form').on('submit', function (e) {
                e.preventDefault();
                let formData = new FormData(this);

                $.ajax({
                    url: '{% url "batch-upload" %}', // replace with your URL
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        alert(response.message);
                        // handle response
                    },
                    error: function (response) {
                        alert('Error uploading file');
                        // handle error
                    }
                });
        });


        function GetCategory() {
            $.ajax({
                url: "{% url 'get-categories' %}",
                type: 'GET',
                success: function (response) {
                    const categories = response.categories;

                    // Clear Choices.js options only if this is the first load
                    if (existingCategories.size === 0) {
                        categoriesChoice.clearChoices();
                    }

                    // Add new categories to Choices.js only if they don't already exist
                    categories.forEach(category => {
                        if (!existingCategories.has(category.category_id)) {
                            existingCategories.add(category.category_id);
                            categoriesChoice.setChoices([
                                {
                                    value: category.category_id,
                                    label: category.category_name,
                                    selected: false,
                                    disabled: false,
                                }
                            ], 'value', 'label', false);
                        }
                    });
                },
                error: function (xhr, status, error) {
                    alert("An error occurred: " + error);
                }
            });
        }

        // function GetStatus() {
        //     $.ajax({
        //         url: "{% url 'get-status' %}",
        //         type: 'GET',
        //         success: function (response) {
        //             const status = response.status;

        //             if (existingStatus.size === 0) {
        //                 statusChoice.clearChoices();
        //             }

        //             status.forEach(status => {
        //                 if (!existingStatus.has(status.status_id)) {
        //                     existingStatus.add(status.status_id);
        //                     statusChoice.setChoices([
        //                         {
        //                             value: status.status_id,
        //                             label: status.status_name,
        //                             selected: false,
        //                             disabled: false,
        //                         }
        //                     ], 'value', 'label', false);
        //                 }
        //             });
        //         },
        //         error: function (xhr, status, error) {
        //             alert("An error occurred: " + error);
        //         }
        //     });
        // }

        function UpdateBagNumber() {
            $.ajax({
                url: "{% url 'update-bag-number' %}",
                type: "GET",
                success: function (response) {
                    console.log(response.total_reservations);
                    $('.notification-dot').text(response.total_reservations);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

    });


</script>