{% load static %}
<!-- Quick Stats -->
<div class="col-md-3 mb-4">
    <div class="card">
        <div class="card-body px-4 py-4-5">
            <div class="row">
                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                    <div class="stats-icon purple mb-2">
                        <i class="iconly-boldPaper"></i>
                    </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                    <h6 class="text-muted font-semibold">Total Books</h6>
                    <h6 class="font-extrabold mb-0" id="totalBooks">358</h6>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="col-md-3 mb-4">
    <div class="card">
        <div class="card-body px-4 py-4-5">
            <div class="row">
                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                    <div class="stats-icon purple mb-2">
                        <i class="iconly-boldDownload"></i>
                    </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                    <h6 class="text-muted font-semibold">Total Borrowed</h6>
                    <h6 class="font-extrabold mb-0" id="totalBorrowed">112</h6>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="col-md-3 mb-4">
    <div class="card">
        <div class="card-body px-4 py-4-5">
            <div class="row">
                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                    <div class="stats-icon purple mb-2">
                        <i class="iconly-boldCalendar"></i>
                    </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                    <h6 class="text-muted font-semibold">Overdue Books</h6>
                    <h6 class="font-extrabold mb-0" id="totalLate">10</h6>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="col-md-3 mb-4">
    <div class="card">
        <div class="card-body px-4 py-4-5">
            <div class="row">
                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                    <div class="stats-icon purple mb-2">
                        <i class="iconly-boldUser1"></i>
                    </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                    <h6 class="text-muted font-semibold">Active Users</h6>
                    <h6 class="font-extrabold mb-0" id="totalUsers">214</h6>
                </div>
            </div> 
        </div>
    </div>
</div>